@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$red: #b51616;
$green: #1b5248;

@mixin bigPadding () {
  padding: 50px;
}
@mixin smallPadding () {
  padding: 15px;
}
@mixin smallMargin() {
  margin: 15px;
}

.container-fluid {
  padding: 0;
}

header {
  .container-fluid {
    max-height: 400px;
    overflow: hidden;
  }
}

.nav {
  height: 80px;

  li {
    a:hover {
      color: gray;
    }

    a {
      color: white;
      padding-top: 25px;
    }
    .active {
      color: $red;
    }

    img {
      width: 150px;
      padding-top: 10px;
      // height: auto;
    }
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

#cont-main {}

#table {
  @include smallPadding();
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Graduate', cursive;
  font-size: 50px;
  padding-top: 10px;
}

#row-message {
  height: 70px;
}

#message {
  // max-width: 500px;
  width: 50%;
  @include smallPadding();
  margin-top: -150px;
  margin-bottom: 150px;
  background-color: $red;
}

#center {
  background-color: $red;
  text-align: center;
  color: white;
  border-color: white;
  border-style: solid;
  @include smallPadding();
}

#center > h2, #me>h2 {
  color: white;
}

#info {
  h2 {
    padding-top: 50px;
  }
}



//Styling for the carousel

.carousel {
  @include bigPadding();
  width: 80%;
  background-color: white;
  background-color: rgba(255,255,255,.5);
  margin: auto;

  .carousel-inner {
    .carousel-item {
      height: auto;
      @include smallPadding;

      .col-md {
        @include smallMargin;
        @include smallPadding;
        // margin-right: 15px;
        background-color: white;
        background-color: rgba(255,255,255,.75);
      }

      a {
        margin-top: 40px;
      }
    }
  }

  .carousel-control-prev-icon {
    margin-left: -200px;
  }

  .carousel-control-next-icon {
    margin-right: -200px;
  }
}

.flex-column {
  text-align: center;
}

#me {
  background-attachment: fixed;
  background-image: url("https://cdn.shopify.com/s/files/1/1619/4221/products/HJ09087_1024x1024@2x.jpg?v=1597959921");
  // background: linear-gradient($green, $red);
  padding-top: 80px;
  padding-bottom: 120px;

  h2 {
    padding-bottom: 40px;
  }
}

.btn-danger {
  margin-top: 70px;
}


h5 {
  @include smallPadding();
}

footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;

  p {
    color: white;
  }
}


////////////Specific styling for the menu page------------------
.col-lg-6 {
  @include bigPadding();
  h2 {
    padding-top: 0;
  }
}


.my-pic {
  padding: 0;
}

.little-msg {
  color: gray;
  font-size: small;
}

#order-div {

  a{
    margin: 0;
    height: 100px;
    font-family: 'Graduate', cursive;
    font-size: 50px;
  }
}
